$airForceBlue: #b2c6d6;
$aquaBlue: #c1d0dc;
$black: #000000;
$blackGray: #999999;
$darkGray: #707070;
$gray: #807f83;
$green: #4ac22d;
$lightBlue: #0081c6;
$orange: #ff4943;
$purple: #52247f;
$red: #ff0000;
$silverGray: #f6f6f6;
$white: #ffffff;
$yellow: #ffdd00;

$backgroundColor: $silverGray;
$bodyText: $white;
$buttonBackgroundColor: $lightBlue;
$buttonBorderColor: $darkGray;
$messagesCountBackgroundColor: $orange;
$navigationLinkColor: $aquaBlue;
$portfolioImageBorderColor: $darkGray;
$topLogoBackgroundColor: $black;

:export {
}
