@import '../../styles/global.scss';

.programHeadlineFooter {
    background-color: $programHeadlineFooterBackgroundColor;
    display: flex;
    height: 230px;
    width: 75%;
}

.programHeadlineList {
    align-self: flex-end;
    margin-bottom: 50px;
}
