@mixin bodyText {
    color: $white;
    font-family: $arial;
    font-size: 14px;
    font-weight: 400;
}

@mixin regularMediumText {
    color: $white;
    font-family: $arial;
    font-size: 16px;
    font-weight: 400;
}

@mixin regularMediumTitle {
    color: $midnightExpress;
    font-family: $roboto;
    font-size: 27px;
    font-weight: 700;
}

@mixin regularSmallText {
    color: $white;
    font-family: $roboto;
    font-size: 18px;
    font-weight: 400;
}

@mixin regularSmallTitle {
    color: $white;
    font-family: $roboto;
    font-size: 18px;
    font-weight: 700;
}

@mixin regularTinyText {
    color: $white;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 400;
}

@mixin topLogoTitle {
    @include regularMediumText;

    font-size: 27px;
    font-weight: 700;
}

@mixin welcomeLogo {
    color: $airForceBlue;
    font-family: $roboto;
    font-size: 99px;
    font-weight: 700;
}
